/assets/video/S1/*.mkv
/assets/video/S1/*.mp4
/assets/video/S1/*.zip
/assets/video/S1/*.log
/assets/video/S2/*.mkv
/assets/video/S2/*.mp4
/assets/video/S2/*.zip
/assets/video/S2/*.log
/assets/video/S3/*.mkv
/assets/video/S3/*.mp4
/assets/video/S3/*.zip
/assets/video/S3/*.log
/assets/video/S4/*.mkv
/assets/video/S4/*.mp4
/assets/video/S4/*.zip
/assets/video/S4/*.log
/ASCILINE
